{% extends "playerApp/base.html" %}

{% block title %}Settings | {{ settings_type }}{% endblock %}

{% block content %}
<div class="main" style="position: relative;">
    <div class="left-bar" style="margin-left: 50px; position: absolute; left: 0;">
        <a href="{% url 'settings-profile' %}" class="btn {% if 'profile' in request.path %}btn-primary{% else %}btn-secondary{% endif %}" style="border-radius: 10px 10px 0px 0px; width: 200px;">Profile</a><br>
        <a href="{% url 'settings-notifications' %}" class="btn {% if 'notifications' in request.path %}btn-primary{% else %}btn-secondary{% endif %}" style="border-radius: 0px; width: 200px;">Notifications</a><br>
        <a href="{% url 'settings-subscription' %}" class="btn {% if 'subscription' in request.path %}btn-primary{% else %}btn-secondary{% endif %}" style="border-radius: 0px; width: 200px;">Subscription</a><br>
        <a href="{% url 'settings-security' %}" class="btn {% if 'security' in request.path %}btn-primary{% else %}btn-secondary{% endif %}" style="border-radius: 0px; width: 200px;">Security</a><br>
        <a href="" class="btn {% if 'payment-history' in request.path %}btn-primary{% else %}btn-secondary{% endif %}" style="border-radius: 0px 0px 10px 10px ; width: 200px; ">Payment History</a><br>
    </div>
    <style>
        .question-text {
            display: none;
        }
        .question-mark:hover~.question-text {
            display: block;
            position: absolute;

            padding: 5px;
            margin-left: -200px;

            max-width: 200px;
            width: 100%;
            background: green;

            border-radius: 20px;
        }
    </style>
    {% if form.errors %}
        {% for error in form.errors %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert" style="position: absolute; right: 0; width: 400px; z-index: 10;">
                {{ error }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success alert-dismissible fade show" role="alert"  style="position: absolute; right: 0; width: 400px; z-index: 10;">
              {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}
    <form action="." method="post" id="SettingsForm">
        {% csrf_token %}

        {% for notification in notifications %}

            <div class="page-content" style="relative: absolute; right: 500px; margin-top: 30px; margin-left: 500px;">
                <div class="switch-block" style="display: flex; flex-direction: row; flex-wrap: wrap;">
                    <div class='question-mark' style="background-color: grey; padding: 5px; border-radius: 100px; margin-right: 5px;">
                        ?
                    </div>
                    <div class="question-text">
                        {{ notification.help_text }}
                    </div>
                    <div class="switch-text" style="width: 500px; background-color: grey; padding: 5px; border-radius: 10px 0px 0px 10px;">
                        {{ notification.verbose_name }}
                    </div>
                    <div class="form-check form-switch" style="width: 20px; margin: 0px; background-color: grey; border-radius: 0px 10px 10px 0px;">
<!--                      <input onchange="document.getElementById('SettingsForm').submit()" style="margin-top: 8px;" class="form-check-input" type="checkbox" role="switch" checked>-->
                        {{ notification.input }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </form>
</div>
<script>
    $(document).ready(function(){
    $("#SettingsForm").on("change", "input:checkbox", function(){
        $("#SettingsForm").submit();
    });
});
</script>
{% endblock %}
{% block script %}
    var alertNode = document.querySelector('.alert')
    var alert = bootstrap.Alert.getInstance(alertNode)
    alert.close()
{% endblock %}