{% extends "playerApp/base.html" %}
{% load static %}
{% block title %}Reset Password | RecorderPlayer{% endblock %}

{% block content %}
    <div class="position-relative" style="margin-top: 300px;">
        <div class="log-in-form position-absolute top-100 start-50 translate-middle mt-1" style="padding:10px; border-radius: 20px; width: 500px; border: solid 1px #000;">
            {% if form.errors %}
                <h3>{{ form.errors }}</h3>
            {% endif %}
            <p>Enter your email below:</p>
            <form method="post">
                {% csrf_token %}
                <div class="form-floating mb-3">
                    {{ form.email }}
                  <label for="floatingInput">Email</label>
                </div>
                <button type="submit" class="btn btn-success mt-2">Change Password</button><br>
            </form>
        </div>
    </div>
{% endblock %}